ELIZA_JWT_SECRET="your-256-bit-secret"
ELIZA_JWT_ALGORITHM=HS256
ELIZA_LOG_LEVEL=INFO
ELIZA_RATE_LIMIT="60 per minute"
#ELIZA_ALLOWED_IPS=192.168.1.100,192.168.1.101
#ELIZA_BLOCKED_IPS=
#ELIZA_TLS_CERT=/path/to/eliza.crt
#ELIZA_TLS_KEY=/path/to/eliza.key
#ELIZA_CA_CERT=/path/to/ca.crt
